<html>
    <head>
        <script>
            function showImage(img) {
              var modal = document.getElementById("modal-image");
              modal.style.display = "block";
              modal.src = img.src;
            }
            
            function hideImage() {
              var modal = document.getElementById("modal-image");
              modal.style.display = "none";
            }
          </script>

        <style>
            /* Add styles for the modal image */
            #modal-image {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 0;
            left: 0;
            top: 0;
            /* width: 100%; */
            max-height: 100%;
            max-width: 100%;
            overflow: auto;
            /* background-color: rgb(0,0,0); */
            /* background-color: rgba(0,0,0,0.9); */
            }
        </style>
    </head>
    <h2>{{ title }} </h2>
    <hr/>
    <div>
            {% for imgPath in imgPathList %}
                <img src="{{ imgPath }}" onclick="showImage(this)" height="200px"/>
            {% endfor %}
    </div>

    <img id="modal-image" onclick="hideImage(this)">

</html>