<html>
    <head>
        <title>MWG Photo Manager</title>
    </head>

    <body>
        <h2>
            MWG Photo Manager
        </h2>
        
        <hr/>

        <div>
            <strong>Indexing finished successfully.</strong>
        </div>

        <hr/>


        <table>
            <tr>
                <td>
                    <strong>Result</strong>
                </td>
                <td>
                    <strong>Count</strong>
                </td>
            </tr>
            <tr>
                <td>
                    PIL_UnidentifiedImageError
                </td>
                <td>
                    {{PIL_UnidentifiedImageError}}
                </td>
            </tr>
            <tr>
                <td>
                    SUCCESS
                </td>
                <td>
                    {{SUCCESS}}
                </td>
            </tr>
            <tr>
                <td>
                    EXIF_AttributeError
                </td>
                <td>
                    {{EXIF_AttributeError}}
                </td>
            </tr>
            <tr>
                <td>
                    EXIF_KeyError
                </td>
                <td>
                    {{EXIF_KeyError}}
                </td>
            </tr>
            <tr>
                <td>
                    EXIF_TypeError
                </td>
                <td>
                    {{EXIF_TypeError}}
                </td>
            </tr>
            <tr>
                <td>
                    No_EXIF
                </td>
                <td>
                    {{No_EXIF}}
                </td>
            </tr>
            <tr>
                <td>
                    DateValueError
                </td>
                <td>
                    {{DateValueError}}
                </td>
            </tr>
            
        </table>


        <div>
            <a href="../">Go back to front page.</a>
        </div>

    </body>
</html>